#Filter the project configuration file generated automatically by IDEA.
*.iml
.idea

#Filter the output files and log files.
*.txt
*.log

#Filter the output directory.
out/

#Filter META-INF directory.
src/META-INF

#Filter test directory.
test/

#Filter all jar package.
*.jar
